/*import css*/
@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body{
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root{ 
    /*색상변수 선언*/
    --button-primary: rgb(254,111,15);
    --button-hover: rgba(254,111,15,0.8);
}

.media-info-msg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; 
    background-color: salmon;
}

@media screen and (max-width: 500px) {
    .media-info-msg{
        display: none; /*평상시에는 안보이도록*/
    }
}
